# Flight Prediction Web Scraping

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from selenium import webdriver 
from datetime import date 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC 
from selenium.webdriver.common.by import By
from dateutil.relativedelta import relativedelta
import csv
import linecache
import sys

In [2]:
def PrintException():
    exc_type,exc_obj,tb = sys.exc_info()
    f= tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno,f.f_globals)
    print ('Exception in ({},Line {} "{}"):{}'.format(filename, lineno,line.strip, exc_obj))

In [3]:
def scrap (origin, destin,trDate):
    global none
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|"
    try:
        driver = webdriver.Chrome(r"C:\Users\nikit\OneDrive\Desktop\DS Projects\WS Selenium\chromedriver.exe")
        print("Requested Url: "+baseDataUrl)
        
        driver.get(baseDataUrl)
        print("WebPage found...")
        
        element_xpath = '//*[@id="left-side--wrapper"]/div[2]'
        
        print("Scrolling document upto bottom...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...")
        driver.quit()

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body)
        
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True

In [5]:
dates=(pd.date_range(start='25/01/2022', end='31/01/2022'))
New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   
    month=str(date.month).zfill(2)
    year=str(date.year)
    date=day+'/'+month+'/'+year  
    New_date.append(date)
print(New_date)

['25/01/2022', '26/01/2022', '27/01/2022', '28/01/2022', '29/01/2022', '30/01/2022', '31/01/2022']

In [6]:
#Lists to store scraped data
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    df.to_csv('Flight.csv', mode='a', header=False)
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [7]:
list_of_dest=['GOI','AMD','TIR','BLR','BOM','DEL']
for i in range(0,len(list_of_dest)):
    orgin=list_of_dest[i]
    for_to=list_of_dest
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
            else: 
                print( "-----Skiped-----")
                print(" ")

--------------
origin = GOI
destin = GOI

origin = GOI
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
5,Go First,25/01/2022,Goa,Ahmedabad,18:15,06:40,1 stop via Mumbai,"₹ 5,315"
6,Go First,25/01/2022,Goa,Ahmedabad,17:00,06:40,1 stop via Mumbai,"₹ 5,315"
7,Spicejet,25/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
8,IndiGo,25/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 5,316"
9,IndiGo,25/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
10,IndiGo,25/01/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 5,316"
11,IndiGo,25/01/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 5,316"
12,IndiGo,25/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
13,Air India,25/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
14,Go First,25/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 7,677"
15,"Vistara, IndiGo",25/01/2022,Goa,Ahmedabad,13:20,18:30,1 stop via Mumbai,"₹ 8,005"

Lenght :  16

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
5,Go First,25/01/2022,Goa,Ahmedabad,18:15,06:40,1 stop via Mumbai,"₹ 5,315"
6,Go First,25/01/2022,Goa,Ahmedabad,17:00,06:40,1 stop via Mumbai,"₹ 5,315"
7,Spicejet,25/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
8,IndiGo,25/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 5,316"
9,IndiGo,25/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
10,IndiGo,25/01/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 5,316"
11,IndiGo,25/01/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 5,316"
12,IndiGo,25/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
13,Air India,25/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
14,Go First,25/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 7,677"
15,"Vistara, IndiGo",25/01/2022,Goa,Ahmedabad,13:20,18:30,1 stop via Mumbai,"₹ 8,005"
16,Spicejet,26/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
17,Go First,26/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 5,315"
18,Go First,26/01/2022,Goa,Ahmedabad,13:15,19:25,1 stop via Mumbai,"₹ 5,315"
19,Go First,26/01/2022,Goa,Ahmedabad,06:40,19:25,1 stop via Mumbai,"₹ 5,315"
20,Go First,26/01/2022,Goa,Ahmedabad,13:10,20:55,1 stop via Bengaluru,"₹ 5,315"
21,Go First,26/01/2022,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
22,Go First,26/01/2022,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
23,Go First,26/01/2022,Goa,Ahmedabad,17:40,07:30,1 stop via New Delhi,"₹ 5,315"
24,Spicejet,26/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
25,IndiGo,26/01/2022,Goa,Ahmedabad,13:10,20:25,1 stop via Mumbai,"₹ 5,316"
26,IndiGo,26/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
27,IndiGo,26/01/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
28,Air India,26/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
29,IndiGo,26/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 7,416"

Lenght :  30

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
5,Go First,25/01/2022,Goa,Ahmedabad,18:15,06:40,1 stop via Mumbai,"₹ 5,315"
6,Go First,25/01/2022,Goa,Ahmedabad,17:00,06:40,1 stop via Mumbai,"₹ 5,315"
7,Spicejet,25/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
8,IndiGo,25/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 5,316"
9,IndiGo,25/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
10,IndiGo,25/01/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 5,316"
11,IndiGo,25/01/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 5,316"
12,IndiGo,25/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
13,Air India,25/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
14,Go First,25/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 7,677"
15,"Vistara, IndiGo",25/01/2022,Goa,Ahmedabad,13:20,18:30,1 stop via Mumbai,"₹ 8,005"
16,Spicejet,26/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
17,Go First,26/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 5,315"
18,Go First,26/01/2022,Goa,Ahmedabad,13:15,19:25,1 stop via Mumbai,"₹ 5,315"
19,Go First,26/01/2022,Goa,Ahmedabad,06:40,19:25,1 stop via Mumbai,"₹ 5,315"
20,Go First,26/01/2022,Goa,Ahmedabad,13:10,20:55,1 stop via Bengaluru,"₹ 5,315"
21,Go First,26/01/2022,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
22,Go First,26/01/2022,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
23,Go First,26/01/2022,Goa,Ahmedabad,17:40,07:30,1 stop via New Delhi,"₹ 5,315"
24,Spicejet,26/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
25,IndiGo,26/01/2022,Goa,Ahmedabad,13:10,20:25,1 stop via Mumbai,"₹ 5,316"
26,IndiGo,26/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
27,IndiGo,26/01/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
28,Air India,26/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
29,IndiGo,26/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 7,416"
30,Go First,27/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 5,315"
31,Go First,27/01/2022,Goa,Ahmedabad,13:15,19:25,1 stop via Mumbai,"₹ 5,315"
32,Go First,27/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
33,Go First,27/01/2022,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
34,Go First,27/01/2022,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
35,Go First,27/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
36,Go First,27/01/2022,Goa,Ahmedabad,23:55,07:30,1 stop via New Delhi,"₹ 5,315"
37,IndiGo,27/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 5,316"
38,IndiGo,27/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
39,IndiGo,27/01/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
40,IndiGo,27/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
41,Spicejet,27/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,841"
42,Air India,27/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"

Lenght :  43

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
5,Go First,25/01/2022,Goa,Ahmedabad,18:15,06:40,1 stop via Mumbai,"₹ 5,315"
6,Go First,25/01/2022,Goa,Ahmedabad,17:00,06:40,1 stop via Mumbai,"₹ 5,315"
7,Spicejet,25/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
8,IndiGo,25/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 5,316"
9,IndiGo,25/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
10,IndiGo,25/01/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 5,316"
11,IndiGo,25/01/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 5,316"
12,IndiGo,25/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
13,Air India,25/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
14,Go First,25/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 7,677"
15,"Vistara, IndiGo",25/01/2022,Goa,Ahmedabad,13:20,18:30,1 stop via Mumbai,"₹ 8,005"
16,Spicejet,26/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
17,Go First,26/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 5,315"
18,Go First,26/01/2022,Goa,Ahmedabad,13:15,19:25,1 stop via Mumbai,"₹ 5,315"
19,Go First,26/01/2022,Goa,Ahmedabad,06:40,19:25,1 stop via Mumbai,"₹ 5,315"
20,Go First,26/01/2022,Goa,Ahmedabad,13:10,20:55,1 stop via Bengaluru,"₹ 5,315"
21,Go First,26/01/2022,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
22,Go First,26/01/2022,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
23,Go First,26/01/2022,Goa,Ahmedabad,17:40,07:30,1 stop via New Delhi,"₹ 5,315"
24,Spicejet,26/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
25,IndiGo,26/01/2022,Goa,Ahmedabad,13:10,20:25,1 stop via Mumbai,"₹ 5,316"
26,IndiGo,26/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
27,IndiGo,26/01/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
28,Air India,26/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
29,IndiGo,26/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 7,416"
30,Go First,27/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 5,315"
31,Go First,27/01/2022,Goa,Ahmedabad,13:15,19:25,1 stop via Mumbai,"₹ 5,315"
32,Go First,27/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
33,Go First,27/01/2022,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 5,315"
34,Go First,27/01/2022,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
35,Go First,27/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
36,Go First,27/01/2022,Goa,Ahmedabad,23:55,07:30,1 stop via New Delhi,"₹ 5,315"
37,IndiGo,27/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 5,316"
38,IndiGo,27/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
39,IndiGo,27/01/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
40,IndiGo,27/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
41,Spicejet,27/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,841"
42,Air India,27/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
43,Spicejet,28/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
44,Go First,28/01/2022,Goa,Ahmedabad,21:05,22:40,Non stop,"₹ 5,315"
45,Go First,28/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
46,Go First,28/01/2022,Goa,Ahmedabad,17:00,00:05,1 stop via Mumbai,"₹ 5,315"
47,Go First,28/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
48,Go First,28/01/2022,Goa,Ahmedabad,23:55,07:30,1 stop via New Delhi,"₹ 5,315"
49,Spicejet,28/01/2022,Goa,Ahmedabad,13:55,08:20,1 stop via Pune,"₹ 5,315"
50,IndiGo,28/01/2022,Goa,Ahmedabad,00:05,06:55,1 stop via Hyderabad,"₹ 5,316"
51,IndiGo,28/01/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 5,316"
52,IndiGo,28/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
53,IndiGo,28/01/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
54,IndiGo,28/01/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 5,316"
55,IndiGo,28/01/2022,Goa,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 5,316"
56,Air India,28/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
57,Go First,28/01/2022,Goa,Ahmedabad,18:15,00:05,1 stop via Mumbai,"₹ 7,383"
58,Vistara,28/01/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 10,629"

Lenght :  59

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
71,IndiGo,29/01/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 5,316"
72,IndiGo,29/01/2022,Goa,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 5,316"
73,IndiGo,29/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
74,Air India,29/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 6,724"
75,Vistara,29/01/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 10,629"

Lenght :  76

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
96,IndiGo,30/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
97,IndiGo,30/01/2022,Goa,Ahmedabad,23:30,07:50,1 stop via Mumbai,"₹ 5,316"
98,Go First,30/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 7,383"
99,Air India,30/01/2022,Goa,Ahmedabad,14:10,21:30,1 stop via New Delhi,"₹ 9,415"
100,Vistara,30/01/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 11,254"

Lenght :  101

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
112,IndiGo,31/01/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
113,IndiGo,31/01/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
114,IndiGo,31/01/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
115,Air India,31/01/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 7,071"
116,Vistara,31/01/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 10,629"

Lenght :  117

-----Skiped-----

origin = GOI
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
126,"IndiGo, Air India",25/01/2022,Goa,Tirupati,07:35,13:35,1 stop via Hyderabad,"₹ 8,089"
127,"Spicejet, IndiGo",25/01/2022,Goa,Tirupati,08:15,16:40,1 stop via Hyderabad,"₹ 8,192"
128,Air India,25/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,415"
129,Air India,25/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,237"
130,Air India,25/01/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,237"

Lenght :  131

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
135,"Spicejet, IndiGo",26/01/2022,Goa,Tirupati,08:15,13:30,1 stop via Hyderabad,"₹ 8,088"
136,Air India,26/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,415"
137,Air India,26/01/2022,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 11,407"
138,Air India,26/01/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,237"
139,"Air India, IndiGo",26/01/2022,Goa,Tirupati,01:15,13:30,"2 stop via New Delhi,Hyderabad","₹ 16,805"

Lenght :  140

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
149,"Spicejet, IndiGo",27/01/2022,Goa,Tirupati,08:15,19:25,1 stop via Hyderabad,"₹ 8,088"
150,"IndiGo, Air India",27/01/2022,Goa,Tirupati,07:35,13:35,1 stop via Hyderabad,"₹ 8,089"
151,Air India,27/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,415"
152,Air India,27/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,237"
153,Air India,27/01/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,237"

Lenght :  154

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
159,"Spicejet, IndiGo",28/01/2022,Goa,Tirupati,08:15,13:30,1 stop via Hyderabad,"₹ 8,088"
160,Air India,28/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,415"
161,Air India,28/01/2022,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 11,407"
162,Air India,28/01/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,237"
163,"Air India, IndiGo",28/01/2022,Goa,Tirupati,01:15,13:30,"2 stop via New Delhi,Hyderabad","₹ 16,805"

Lenght :  164

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
172,"IndiGo, Air India",29/01/2022,Goa,Tirupati,00:05,13:35,1 stop via Hyderabad,"₹ 8,089"
173,Air India,29/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,415"
174,Air India,29/01/2022,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 11,407"
175,Air India,29/01/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,237"
176,Air India,29/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,657"

Lenght :  177

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
188,"IndiGo, Spicejet",30/01/2022,Goa,Tirupati,07:35,14:05,1 stop via Hyderabad,"₹ 8,088"
189,"IndiGo, Air India",30/01/2022,Goa,Tirupati,07:35,13:35,1 stop via Hyderabad,"₹ 8,089"
190,Air India,30/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,415"
191,Air India,30/01/2022,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 11,407"
192,Air India,30/01/2022,Goa,Tirupati,01:15,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,237"

Lenght :  193

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
200,Air India,31/01/2022,Goa,Tirupati,23:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 10,567"
201,Air India,31/01/2022,Goa,Tirupati,21:00,13:35,"2 stop via Mumbai,Hyderabad","₹ 10,567"
202,Air India,31/01/2022,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 11,407"
203,Air India,31/01/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,237"
204,"Air India, IndiGo",31/01/2022,Goa,Tirupati,01:15,13:30,"2 stop via New Delhi,Hyderabad","₹ 16,805"

Lenght :  205

-----Skiped-----

origin = GOI
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
219,"Go First, IndiGo",25/01/2022,Goa,Bengaluru,17:00,22:15,1 stop via Mumbai,"₹ 8,738"
220,"IndiGo, Air India",25/01/2022,Goa,Bengaluru,13:10,18:30,1 stop via Mumbai,"₹ 8,739"
221,"Vistara, Air India",25/01/2022,Goa,Bengaluru,13:20,18:30,1 stop via Mumbai,"₹ 8,740"
222,"Spicejet, IndiGo",25/01/2022,Goa,Bengaluru,08:15,13:20,1 stop via Hyderabad,"₹ 8,928"
223,"IndiGo, Star Air",25/01/2022,Goa,Bengaluru,14:30,21:25,1 stop via Hyderabad,"₹ 8,928"

Lenght :  224

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
240,"Spicejet, Air India",26/01/2022,Goa,Bengaluru,13:30,18:30,1 stop via Mumbai,"₹ 8,738"
241,"Go First, Air India",26/01/2022,Goa,Bengaluru,13:15,18:30,1 stop via Mumbai,"₹ 8,738"
242,"Go First, IndiGo",26/01/2022,Goa,Bengaluru,17:00,22:15,1 stop via Mumbai,"₹ 8,738"
243,"IndiGo, Air India",26/01/2022,Goa,Bengaluru,13:10,18:30,1 stop via Mumbai,"₹ 8,739"
244,"Spicejet, IndiGo",26/01/2022,Goa,Bengaluru,08:15,13:20,1 stop via Hyderabad,"₹ 8,928"

Lenght :  245

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
264,Air India,27/01/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 12,460"
265,Air India,27/01/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 12,460"
266,Vistara,27/01/2022,Goa,Bengaluru,14:30,23:20,1 stop via New Delhi,"₹ 12,592"
267,Air India,27/01/2022,Goa,Bengaluru,01:15,08:55,1 stop via New Delhi,"₹ 14,662"
268,Air India,27/01/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 14,662"

Lenght :  269

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
287,Air India,28/01/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 12,460"
288,Vistara,28/01/2022,Goa,Bengaluru,14:30,23:20,1 stop via New Delhi,"₹ 12,592"
289,Go First,28/01/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 14,528"
290,Air India,28/01/2022,Goa,Bengaluru,01:15,08:55,1 stop via New Delhi,"₹ 14,662"
291,Air India,28/01/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 14,662"

Lenght :  292

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
302,Go First,29/01/2022,Goa,Bengaluru,23:55,09:55,1 stop via Mumbai,"₹ 8,223"
303,Vistara,29/01/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 8,398"
304,AirAsia,29/01/2022,Goa,Bengaluru,17:55,20:55,1 stop via Hyderabad,"₹ 9,304"
305,Vistara,29/01/2022,Goa,Bengaluru,14:30,23:20,1 stop via New Delhi,"₹ 12,592"
306,Air India,29/01/2022,Goa,Bengaluru,01:15,08:55,1 stop via New Delhi,"₹ 14,662"

Lenght :  307

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
333,Air India,30/01/2022,Goa,Bengaluru,11:05,08:55,"2 stop via Surat,New Delhi","₹ 13,448"
334,Vistara,30/01/2022,Goa,Bengaluru,14:30,23:20,1 stop via New Delhi,"₹ 14,020"
335,Vistara,30/01/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 14,557"
336,Air India,30/01/2022,Goa,Bengaluru,01:15,08:55,1 stop via New Delhi,"₹ 14,662"
337,Air India,30/01/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 14,662"

Lenght :  338

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
358,Air India,31/01/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 12,460"
359,Vistara,31/01/2022,Goa,Bengaluru,14:30,23:20,1 stop via New Delhi,"₹ 12,771"
360,Air India,31/01/2022,Goa,Bengaluru,01:15,08:55,1 stop via New Delhi,"₹ 14,662"
361,Air India,31/01/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 14,662"
362,Go First,31/01/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 18,362"

Lenght :  363

-----Skiped-----

origin = GOI
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
379,Go First,25/01/2022,Goa,Mumbai,17:40,04:15,1 stop via New Delhi,"₹ 13,058"
380,Air India,25/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
381,Air India,25/01/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 13,192"
382,Vistara,25/01/2022,Goa,Mumbai,14:30,09:00,"2 stop via New Delhi,Chennai","₹ 18,157"
383,Vistara,25/01/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 22,957"

Lenght :  384

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
406,Air India,26/01/2022,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 9,202"
407,Go First,26/01/2022,Goa,Mumbai,23:55,10:10,1 stop via New Delhi,"₹ 13,058"
408,Air India,26/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
409,Air India,26/01/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 13,192"
410,Vistara,26/01/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 13,192"

Lenght :  411

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
432,Air India,27/01/2022,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 9,202"
433,Air India,27/01/2022,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 9,202"
434,Air India,27/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
435,Air India,27/01/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 13,192"
436,Vistara,27/01/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 13,192"

Lenght :  437

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
459,Air India,28/01/2022,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 9,202"
460,Go First,28/01/2022,Goa,Mumbai,17:40,00:40,1 stop via New Delhi,"₹ 13,058"
461,Air India,28/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
462,Air India,28/01/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 13,192"
463,Vistara,28/01/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 13,192"

Lenght :  464

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
487,Air India,29/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
488,Air India,29/01/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 13,192"
489,Vistara,29/01/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 13,192"
490,Air India,29/01/2022,Goa,Mumbai,21:00,18:00,"3 stop via Bengaluru,New Delhi,Indore","₹ 13,300"
491,Air India,29/01/2022,Goa,Mumbai,21:00,18:00,"3 stop via Bengaluru,New Delhi,Indore","₹ 13,300"

Lenght :  492

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
520,Vistara,30/01/2022,Goa,Mumbai,13:20,14:45,Non stop,"₹ 9,832"
521,Air India,30/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
522,Air India,30/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
523,Air India,30/01/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 13,192"
524,Vistara,30/01/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 14,032"

Lenght :  525

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
547,Air India,31/01/2022,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 9,202"
548,Air India,31/01/2022,Goa,Mumbai,01:15,09:05,1 stop via New Delhi,"₹ 13,192"
549,Air India,31/01/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 13,192"
550,Vistara,31/01/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 13,192"
551,Go First,31/01/2022,Goa,Mumbai,17:40,00:40,1 stop via New Delhi,"₹ 16,892"

Lenght :  552

-----Skiped-----

origin = GOI
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
574,"IndiGo, Go First",25/01/2022,Goa,New Delhi,18:30,00:20,1 stop via Mumbai,"₹ 9,578"
575,"Go First, Vistara",25/01/2022,Goa,New Delhi,17:00,23:00,1 stop via Mumbai,"₹ 9,579"
576,"IndiGo, Vistara",25/01/2022,Goa,New Delhi,06:55,12:40,1 stop via Mumbai,"₹ 9,580"
577,"Vistara, IndiGo",25/01/2022,Goa,New Delhi,13:20,19:20,1 stop via Mumbai,"₹ 9,580"
578,"Air India, Vistara",25/01/2022,Goa,New Delhi,07:05,12:40,1 stop via Mumbai,"₹ 9,581"

Lenght :  579

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
607,Spicejet,26/01/2022,Goa,New Delhi,19:30,22:10,Non stop,"₹ 8,571"
608,Vistara,26/01/2022,Goa,New Delhi,13:20,18:05,1 stop via Mumbai,"₹ 9,202"
609,Vistara,26/01/2022,Goa,New Delhi,13:20,18:05,1 stop via Mumbai,"₹ 9,202"
610,Air India,26/01/2022,Goa,New Delhi,15:20,21:15,1 stop via Mumbai,"₹ 9,202"
611,"Spicejet, Vistara",26/01/2022,Goa,New Delhi,17:35,23:00,1 stop via Mumbai,"₹ 9,579"

Lenght :  612

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
632,IndiGo,27/01/2022,Goa,New Delhi,17:55,23:45,1 stop via Hyderabad,"₹ 7,626"
633,Air India,27/01/2022,Goa,New Delhi,01:15,03:40,Non stop,"₹ 7,627"
634,Air India,27/01/2022,Goa,New Delhi,14:10,16:45,Non stop,"₹ 7,627"
635,Vistara,27/01/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 7,627"
636,AirAsia,27/01/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 7,834"

Lenght :  637

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: timeout: Timed out receiving message from renderer: 299.446
  (Session info: chrome=97.0.4692.71)

28/01/2022  scraping complete

--------------
origin = AMD
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: timeout: Timed out receiving message from renderer: 299.640
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = AMD
destin = AMD

origin = AMD
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
647,Air India,25/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
648,Air India,25/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
649,Air India,25/01/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,672"
650,Air India,25/01/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"
651,Air India,25/01/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 16,875"

Lenght :  652

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
659,Air India,26/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,160"
660,Air India,26/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
661,Air India,26/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
662,Air India,26/01/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,672"
663,Air India,26/01/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"

Lenght :  664

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
672,Air India,27/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
673,Air India,27/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
674,Air India,27/01/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,672"
675,Air India,27/01/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"
676,Air India,27/01/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 16,875"

Lenght :  677

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
687,Air India,28/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,662"
688,Air India,28/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 11,512"
689,Air India,28/01/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,092"
690,Air India,28/01/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 16,402"
691,Air India,28/01/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"

Lenght :  692

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
697,Air India,29/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,160"
698,Air India,29/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
699,Air India,29/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,662"
700,Air India,29/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 11,512"
701,Air India,29/01/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"

Lenght :  702

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
712,Air India,30/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,160"
713,Air India,30/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 9,160"
714,Air India,30/01/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
715,Air India,30/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
716,Air India,30/01/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"

Lenght :  717

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
727,Air India,31/01/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
728,Air India,31/01/2022,Ahmedabad,Tirupati,19:35,13:35,"2 stop via Mumbai,Hyderabad","₹ 11,152"
729,Air India,31/01/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,672"
730,Air India,31/01/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 16,402"
731,Air India,31/01/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"

Lenght :  732

-----Skiped-----

origin = AMD
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
747,"Go First, IndiGo",25/01/2022,Ahmedabad,Bengaluru,07:10,16:05,1 stop via Mumbai,"₹ 9,323"
748,"IndiGo, AirAsia",25/01/2022,Ahmedabad,Bengaluru,06:50,15:30,"2 stop via Mumbai,Hyderabad","₹ 9,515"
749,"IndiGo, Star Air",25/01/2022,Ahmedabad,Bengaluru,08:45,21:25,"2 stop via New Delhi,Hyderabad","₹ 9,970"
750,"IndiGo, AirAsia",25/01/2022,Ahmedabad,Bengaluru,05:40,15:30,"2 stop via New Delhi,Hyderabad","₹ 9,972"
751,Vistara,25/01/2022,Ahmedabad,Bengaluru,08:25,17:00,1 stop via New Delhi,"₹ 10,999"

Lenght :  752

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
768,IndiGo,26/01/2022,Ahmedabad,Bengaluru,08:40,16:05,1 stop via Mumbai,"₹ 8,946"
769,Air India,26/01/2022,Ahmedabad,Bengaluru,22:20,08:55,1 stop via New Delhi,"₹ 9,160"
770,"Go First, IndiGo",26/01/2022,Ahmedabad,Bengaluru,07:10,16:05,1 stop via Mumbai,"₹ 9,323"
771,"IndiGo, AirAsia",26/01/2022,Ahmedabad,Bengaluru,05:40,15:30,"2 stop via New Delhi,Hyderabad","₹ 9,972"
772,Vistara,26/01/2022,Ahmedabad,Bengaluru,08:25,17:00,1 stop via New Delhi,"₹ 10,374"

Lenght :  773

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
784,IndiGo,27/01/2022,Ahmedabad,Bengaluru,08:40,16:05,1 stop via Mumbai,"₹ 5,901"
785,IndiGo,27/01/2022,Ahmedabad,Bengaluru,20:45,02:35,1 stop via Pune,"₹ 5,901"
786,Spicejet,27/01/2022,Ahmedabad,Bengaluru,04:00,09:00,1 stop via Goa,"₹ 6,216"
787,Air India,27/01/2022,Ahmedabad,Bengaluru,22:20,08:55,1 stop via New Delhi,"₹ 9,160"
788,Vistara,27/01/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 10,374"

Lenght :  789

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: timeout: Timed out receiving message from renderer: 299.565
  (Session info: chrome=97.0.4692.71)

28/01/2022  scraping complete

origin = AMD
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
806,Air India,25/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 10,627"
807,Air India,25/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
808,Air India,25/01/2022,Ahmedabad,Mumbai,18:45,09:05,1 stop via New Delhi,"₹ 10,627"
809,Vistara,25/01/2022,Ahmedabad,Mumbai,08:25,15:00,1 stop via New Delhi,"₹ 10,942"
810,Air India,25/01/2022,Ahmedabad,Mumbai,08:20,20:00,"4 stop via Nasik,Pune,Bhopal,New Delhi","₹ 15,405"

Lenght :  811

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
828,Vistara,26/01/2022,Ahmedabad,Mumbai,08:25,15:00,1 stop via New Delhi,"₹ 10,627"
829,Vistara,26/01/2022,Ahmedabad,Mumbai,20:40,07:55,1 stop via New Delhi,"₹ 10,627"
830,Air India,26/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 10,627"
831,Air India,26/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
832,Air India,26/01/2022,Ahmedabad,Mumbai,18:45,09:05,1 stop via New Delhi,"₹ 10,627"

Lenght :  833

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
857,Vistara,27/01/2022,Ahmedabad,Mumbai,20:40,07:55,1 stop via New Delhi,"₹ 10,627"
858,Air India,27/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
859,Air India,27/01/2022,Ahmedabad,Mumbai,18:45,09:05,1 stop via New Delhi,"₹ 10,627"
860,Air India,27/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 11,257"
861,Air India,27/01/2022,Ahmedabad,Mumbai,08:20,20:00,"4 stop via Nasik,Pune,Bhopal,New Delhi","₹ 15,405"

Lenght :  862

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
883,Vistara,28/01/2022,Ahmedabad,Mumbai,20:40,07:55,1 stop via New Delhi,"₹ 10,627"
884,Air India,28/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
885,Air India,28/01/2022,Ahmedabad,Mumbai,18:45,09:05,1 stop via New Delhi,"₹ 10,627"
886,Air India,28/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 11,992"
887,Air India,28/01/2022,Ahmedabad,Mumbai,08:20,20:00,"4 stop via Nasik,Pune,Bhopal,New Delhi","₹ 14,932"

Lenght :  888

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
908,Vistara,29/01/2022,Ahmedabad,Mumbai,06:45,11:35,1 stop via New Delhi,"₹ 10,627"
909,Vistara,29/01/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 10,627"
910,Air India,29/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
911,Vistara,29/01/2022,Ahmedabad,Mumbai,20:40,09:45,1 stop via New Delhi,"₹ 10,627"
912,Air India,29/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 11,992"

Lenght :  913

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
934,Vistara,30/01/2022,Ahmedabad,Mumbai,06:45,11:35,1 stop via New Delhi,"₹ 10,627"
935,Vistara,30/01/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 10,627"
936,Vistara,30/01/2022,Ahmedabad,Mumbai,20:40,07:55,1 stop via New Delhi,"₹ 10,627"
937,Air India,30/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
938,Air India,30/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 11,257"

Lenght :  939

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 56
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
961,Vistara,31/01/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 10,627"
962,Vistara,31/01/2022,Ahmedabad,Mumbai,20:40,07:55,1 stop via New Delhi,"₹ 10,627"
963,Air India,31/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
964,Air India,31/01/2022,Ahmedabad,Mumbai,18:45,09:05,1 stop via New Delhi,"₹ 10,627"
965,Air India,31/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 11,257"

Lenght :  966

-----Skiped-----

origin = AMD
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

--------------
origin = TIR
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = TIR
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = TIR
destin = TIR

origin = TIR
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = TIR
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 0
Time Count in Scraping  = 0
City Count in Scraping  = 0
spanFlightCost Count in Scraping  = 0
pFlightStops Count in Scraping  = 0
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
961,Vistara,31/01/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 10,627"
962,Vistara,31/01/2022,Ahmedabad,Mumbai,20:40,07:55,1 stop via New Delhi,"₹ 10,627"
963,Air India,31/01/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 10,627"
964,Air India,31/01/2022,Ahmedabad,Mumbai,18:45,09:05,1 stop via New Delhi,"₹ 10,627"
965,Air India,31/01/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 11,257"

Lenght :  966

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
974,"Spicejet, Vistara",26/01/2022,Tirupati,Mumbai,08:00,14:30,1 stop via Hyderabad,"₹ 7,882"
975,"Air India, IndiGo",26/01/2022,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 7,882"
976,"IndiGo, Vistara",26/01/2022,Tirupati,Mumbai,17:00,23:00,1 stop via Hyderabad,"₹ 7,883"
977,Air India,26/01/2022,Tirupati,Mumbai,14:15,08:20,"3 stop via Hyderabad,New Delhi,Goa","₹ 12,252"
978,Air India,26/01/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"

Lenght :  979

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
992,Air India,27/01/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"
993,Air India,27/01/2022,Tirupati,Mumbai,14:15,16:25,"5 stop via Hyderabad,New Delhi,Nagpur,Raipur,V...","₹ 13,682"
994,Air India,27/01/2022,Tirupati,Mumbai,14:15,13:45,"3 stop via Hyderabad,New Delhi,Amritsar","₹ 18,929"
995,Air India,27/01/2022,Tirupati,Mumbai,14:15,08:35,"3 stop via Hyderabad,New Delhi,Bengaluru","₹ 19,179"
996,Air India,27/01/2022,Tirupati,Mumbai,14:15,17:05,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"

Lenght :  997

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1007,Air India,28/01/2022,Tirupati,Mumbai,14:15,08:20,"3 stop via Hyderabad,New Delhi,Goa","₹ 12,252"
1008,Air India,28/01/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"
1009,Air India,28/01/2022,Tirupati,Mumbai,14:15,16:25,"4 stop via Hyderabad,New Delhi,Raipur,Visakhap...","₹ 13,682"
1010,Air India,28/01/2022,Tirupati,Mumbai,14:15,08:05,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"
1011,Air India,28/01/2022,Tirupati,Mumbai,14:15,18:15,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"

Lenght :  1012

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 0
Time Count in Scraping  = 0
City Count in Scraping  = 0
spanFlightCost Count in Scraping  = 0
pFlightStops Count in Scraping  = 0
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1007,Air India,28/01/2022,Tirupati,Mumbai,14:15,08:20,"3 stop via Hyderabad,New Delhi,Goa","₹ 12,252"
1008,Air India,28/01/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"
1009,Air India,28/01/2022,Tirupati,Mumbai,14:15,16:25,"4 stop via Hyderabad,New Delhi,Raipur,Visakhap...","₹ 13,682"
1010,Air India,28/01/2022,Tirupati,Mumbai,14:15,08:05,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"
1011,Air India,28/01/2022,Tirupati,Mumbai,14:15,18:15,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"

Lenght :  1012

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1024,Air India,30/01/2022,Tirupati,Mumbai,14:15,08:20,"3 stop via Hyderabad,New Delhi,Goa","₹ 12,252"
1025,Air India,30/01/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"
1026,Air India,30/01/2022,Tirupati,Mumbai,14:15,16:25,"4 stop via Hyderabad,New Delhi,Raipur,Visakhap...","₹ 13,682"
1027,Air India,30/01/2022,Tirupati,Mumbai,14:15,17:25,"4 stop via Hyderabad,New Delhi,Surat,Bhubaneswar","₹ 13,932"
1028,Air India,30/01/2022,Tirupati,Mumbai,14:15,17:05,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"

Lenght :  1029

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1040,Air India,31/01/2022,Tirupati,Mumbai,14:15,08:20,"3 stop via Hyderabad,New Delhi,Goa","₹ 12,252"
1041,Air India,31/01/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"
1042,Air India,31/01/2022,Tirupati,Mumbai,14:15,16:25,"5 stop via Hyderabad,New Delhi,Nagpur,Raipur,V...","₹ 13,682"
1043,Air India,31/01/2022,Tirupati,Mumbai,14:15,08:05,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"
1044,Air India,31/01/2022,Tirupati,Mumbai,14:15,18:15,"3 stop via Hyderabad,New Delhi,Chennai","₹ 20,019"

Lenght :  1045

-----Skiped-----

origin = TIR
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1054,"Air India, IndiGo",25/01/2022,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 9,562"
1055,IndiGo,25/01/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 9,570"
1056,"IndiGo, Vistara",25/01/2022,Tirupati,New Delhi,17:00,22:50,1 stop via Hyderabad,"₹ 9,667"
1057,IndiGo,25/01/2022,Tirupati,New Delhi,16:20,01:05,1 stop via Bengaluru,"₹ 10,412"
1058,"IndiGo, Air India",25/01/2022,Tirupati,New Delhi,16:20,23:55,1 stop via Bengaluru,"₹ 10,918"

Lenght :  1059

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1062,IndiGo,26/01/2022,Tirupati,New Delhi,14:00,23:45,1 stop via Hyderabad,"₹ 8,889"
1063,IndiGo,26/01/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 9,570"
1064,Air India,26/01/2022,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 9,834"
1065,IndiGo,26/01/2022,Tirupati,New Delhi,19:55,09:20,"2 stop via Hyderabad,Mumbai","₹ 10,568"
1066,Air India,26/01/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 13,447"

Lenght :  1067

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1076,IndiGo,27/01/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 10,412"
1077,Air India,27/01/2022,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 10,674"
1078,IndiGo,27/01/2022,Tirupati,New Delhi,10:55,18:10,1 stop via Hyderabad,"₹ 10,830"
1079,IndiGo,27/01/2022,Tirupati,New Delhi,10:55,19:55,1 stop via Hyderabad,"₹ 10,830"
1080,IndiGo,27/01/2022,Tirupati,New Delhi,19:55,09:20,"2 stop via Hyderabad,Mumbai","₹ 11,355"

Lenght :  1081

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1088,IndiGo,28/01/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 9,570"
1089,IndiGo,28/01/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 10,412"
1090,IndiGo,28/01/2022,Tirupati,New Delhi,19:55,08:10,"2 stop via Hyderabad,Mumbai","₹ 10,568"
1091,IndiGo,28/01/2022,Tirupati,New Delhi,19:55,09:20,"2 stop via Hyderabad,Mumbai","₹ 10,568"
1092,Air India,28/01/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 13,027"

Lenght :  1093

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1101,"Air India, IndiGo",29/01/2022,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 9,562"
1102,IndiGo,29/01/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 9,570"
1103,"IndiGo, Vistara",29/01/2022,Tirupati,New Delhi,17:00,22:50,1 stop via Hyderabad,"₹ 9,667"
1104,IndiGo,29/01/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 10,412"
1105,IndiGo,29/01/2022,Tirupati,New Delhi,19:55,08:10,"2 stop via Hyderabad,Mumbai","₹ 10,568"

Lenght :  1106

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1117,IndiGo,30/01/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 9,570"
1118,IndiGo,30/01/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 11,252"
1119,IndiGo,30/01/2022,Tirupati,New Delhi,19:55,08:10,"2 stop via Hyderabad,Mumbai","₹ 11,565"
1120,IndiGo,30/01/2022,Tirupati,New Delhi,19:55,09:20,"2 stop via Hyderabad,Mumbai","₹ 11,565"
1121,Air India,30/01/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 12,187"

Lenght :  1122

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1129,Air India,31/01/2022,Tirupati,New Delhi,14:15,23:00,1 stop via Hyderabad,"₹ 8,994"
1130,IndiGo,31/01/2022,Tirupati,New Delhi,19:55,09:20,"2 stop via Hyderabad,Mumbai","₹ 10,568"
1131,IndiGo,31/01/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 10,674"
1132,IndiGo,31/01/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 10,832"
1133,Air India,31/01/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 12,607"

Lenght :  1134

-----Skiped-----

--------------
origin = BLR
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1152,Air India,25/01/2022,Bengaluru,Goa,17:20,00:35,1 stop via New Delhi,"₹ 14,524"
1153,Air India,25/01/2022,Bengaluru,Goa,21:00,13:25,1 stop via New Delhi,"₹ 14,524"
1154,Air India,25/01/2022,Bengaluru,Goa,06:30,00:35,"2 stop via Hyderabad,New Delhi","₹ 16,939"
1155,Vistara,25/01/2022,Bengaluru,Goa,18:50,12:45,"2 stop via New Delhi,Mumbai","₹ 20,476"
1156,Vistara,25/01/2022,Bengaluru,Goa,18:50,12:45,"2 stop via New Delhi,Mumbai","₹ 20,476"

Lenght :  1157

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1176,Go First,26/01/2022,Bengaluru,Goa,05:40,20:35,1 stop via Ahmedabad,"₹ 10,611"
1177,Vistara,26/01/2022,Bengaluru,Goa,21:10,13:50,1 stop via New Delhi,"₹ 12,454"
1178,Air India,26/01/2022,Bengaluru,Goa,06:10,13:25,1 stop via New Delhi,"₹ 14,524"
1179,Air India,26/01/2022,Bengaluru,Goa,17:50,00:35,1 stop via New Delhi,"₹ 14,524"
1180,Go First,26/01/2022,Bengaluru,Goa,06:30,12:45,1 stop via Mumbai,"₹ 15,541"

Lenght :  1181

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1194,Go First,27/01/2022,Bengaluru,Goa,06:30,12:45,1 stop via Mumbai,"₹ 8,925"
1195,Air India,27/01/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 9,064"
1196,Go First,27/01/2022,Bengaluru,Goa,05:40,20:35,1 stop via Ahmedabad,"₹ 10,611"
1197,Vistara,27/01/2022,Bengaluru,Goa,07:00,13:50,1 stop via New Delhi,"₹ 12,454"
1198,Air India,27/01/2022,Bengaluru,Goa,10:25,22:25,"3 stop via New Delhi,Indore,Mumbai","₹ 13,162"

Lenght :  1199

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1214,Air India,28/01/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 9,064"
1215,Air India,28/01/2022,Bengaluru,Goa,19:10,06:25,1 stop via Mumbai,"₹ 9,064"
1216,Go First,28/01/2022,Bengaluru,Goa,06:30,12:45,1 stop via Mumbai,"₹ 9,241"
1217,Vistara,28/01/2022,Bengaluru,Goa,07:00,13:50,1 stop via New Delhi,"₹ 13,882"
1218,Air India,28/01/2022,Bengaluru,Goa,17:50,00:35,1 stop via New Delhi,"₹ 14,524"

Lenght :  1219

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1233,Go First,29/01/2022,Bengaluru,Goa,06:30,12:45,1 stop via Mumbai,"₹ 8,925"
1234,Air India,29/01/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 9,064"
1235,Vistara,29/01/2022,Bengaluru,Goa,07:00,13:50,1 stop via New Delhi,"₹ 13,882"
1236,Air India,29/01/2022,Bengaluru,Goa,06:10,13:25,1 stop via New Delhi,"₹ 14,524"
1237,Air India,29/01/2022,Bengaluru,Goa,17:50,00:35,1 stop via New Delhi,"₹ 14,524"

Lenght :  1238

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1258,Vistara,30/01/2022,Bengaluru,Goa,07:00,13:50,1 stop via New Delhi,"₹ 12,454"
1259,Air India,30/01/2022,Bengaluru,Goa,10:25,22:25,"3 stop via New Delhi,Indore,Mumbai","₹ 13,162"
1260,Go First,30/01/2022,Bengaluru,Goa,05:30,13:30,1 stop via New Delhi,"₹ 14,390"
1261,Air India,30/01/2022,Bengaluru,Goa,06:10,13:25,1 stop via New Delhi,"₹ 14,524"
1262,Air India,30/01/2022,Bengaluru,Goa,17:50,00:35,1 stop via New Delhi,"₹ 14,524"

Lenght :  1263

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1278,Go First,31/01/2022,Bengaluru,Goa,06:30,12:45,1 stop via Mumbai,"₹ 8,925"
1279,Air India,31/01/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 9,064"
1280,Air India,31/01/2022,Bengaluru,Goa,19:10,06:25,1 stop via Mumbai,"₹ 9,064"
1281,Vistara,31/01/2022,Bengaluru,Goa,07:00,13:50,1 stop via New Delhi,"₹ 12,454"
1282,Air India,31/01/2022,Bengaluru,Goa,17:50,00:35,1 stop via New Delhi,"₹ 14,524"

Lenght :  1283

-----Skiped-----

origin = BLR
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1303,"Star Air, IndiGo",25/01/2022,Bengaluru,Ahmedabad,07:05,18:30,"2 stop via Hyderabad,Mumbai","₹ 9,630"
1304,"AirAsia, IndiGo",25/01/2022,Bengaluru,Ahmedabad,07:35,18:30,"2 stop via Hyderabad,Mumbai","₹ 9,632"
1305,"AirAsia, IndiGo",25/01/2022,Bengaluru,Ahmedabad,07:35,18:05,1 stop via Hyderabad,"₹ 10,000"
1306,"AirAsia, IndiGo",25/01/2022,Bengaluru,Ahmedabad,14:30,23:50,"2 stop via Hyderabad,New Delhi","₹ 10,089"
1307,Vistara,25/01/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 10,669"

Lenght :  1308

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1331,"Go First, IndiGo",26/01/2022,Bengaluru,Ahmedabad,10:50,18:30,1 stop via Mumbai,"₹ 9,440"
1332,"IndiGo, Go First",26/01/2022,Bengaluru,Ahmedabad,18:00,00:05,1 stop via Mumbai,"₹ 9,440"
1333,"IndiGo, Go First",26/01/2022,Bengaluru,Ahmedabad,16:50,00:05,1 stop via Mumbai,"₹ 9,440"
1334,"Vistara, Go First",26/01/2022,Bengaluru,Ahmedabad,18:25,00:05,1 stop via Mumbai,"₹ 9,442"
1335,"AirAsia, IndiGo",26/01/2022,Bengaluru,Ahmedabad,14:30,23:50,"2 stop via Hyderabad,New Delhi","₹ 10,089"

Lenght :  1336

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1353,IndiGo,27/01/2022,Bengaluru,Ahmedabad,06:55,18:30,1 stop via Bhopal,"₹ 6,018"
1354,IndiGo,27/01/2022,Bengaluru,Ahmedabad,06:20,18:40,1 stop via Lucknow,"₹ 6,018"
1355,Spicejet,27/01/2022,Bengaluru,Ahmedabad,10:20,08:20,1 stop via Pune,"₹ 6,018"
1356,Air India,27/01/2022,Bengaluru,Ahmedabad,13:20,18:50,1 stop via New Delhi,"₹ 9,277"
1357,Vistara,27/01/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 10,491"

Lenght :  1358

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1379,IndiGo,28/01/2022,Bengaluru,Ahmedabad,16:20,22:15,1 stop via Hyderabad,"₹ 6,018"
1380,IndiGo,28/01/2022,Bengaluru,Ahmedabad,14:45,22:15,1 stop via Hyderabad,"₹ 6,018"
1381,IndiGo,28/01/2022,Bengaluru,Ahmedabad,17:15,23:50,1 stop via Pune,"₹ 6,018"
1382,Air India,28/01/2022,Bengaluru,Ahmedabad,13:20,18:50,1 stop via New Delhi,"₹ 9,277"
1383,Vistara,28/01/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 10,491"

Lenght :  1384

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1404,IndiGo,29/01/2022,Bengaluru,Ahmedabad,16:20,22:15,1 stop via Hyderabad,"₹ 6,018"
1405,IndiGo,29/01/2022,Bengaluru,Ahmedabad,14:45,22:15,1 stop via Hyderabad,"₹ 6,018"
1406,IndiGo,29/01/2022,Bengaluru,Ahmedabad,17:15,23:50,1 stop via Pune,"₹ 6,018"
1407,Air India,29/01/2022,Bengaluru,Ahmedabad,13:20,18:50,1 stop via New Delhi,"₹ 9,277"
1408,Vistara,29/01/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 10,491"

Lenght :  1409

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1438,IndiGo,30/01/2022,Bengaluru,Ahmedabad,17:15,23:50,1 stop via Pune,"₹ 6,018"
1439,IndiGo,30/01/2022,Bengaluru,Ahmedabad,19:50,01:00,1 stop via Goa,"₹ 6,018"
1440,IndiGo,30/01/2022,Bengaluru,Ahmedabad,17:10,01:00,1 stop via Goa,"₹ 6,018"
1441,Air India,30/01/2022,Bengaluru,Ahmedabad,13:20,18:50,1 stop via New Delhi,"₹ 9,277"
1442,Vistara,30/01/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 10,491"

Lenght :  1443

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 52
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1463,IndiGo,31/01/2022,Bengaluru,Ahmedabad,09:20,20:20,1 stop via Chennai,"₹ 6,018"
1464,Spicejet,31/01/2022,Bengaluru,Ahmedabad,06:20,21:55,1 stop via Udaipur,"₹ 6,018"
1465,IndiGo,31/01/2022,Bengaluru,Ahmedabad,17:15,23:50,1 stop via Pune,"₹ 6,018"
1466,Air India,31/01/2022,Bengaluru,Ahmedabad,13:20,18:50,1 stop via New Delhi,"₹ 9,277"
1467,Vistara,31/01/2022,Bengaluru,Ahmedabad,11:30,20:05,1 stop via New Delhi,"₹ 10,491"

Lenght :  1468

-----Skiped-----

origin = BLR
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1472,Air India,25/01/2022,Bengaluru,Tirupati,05:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
1473,Air India,25/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
1474,Air India,25/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
1475,Air India,25/01/2022,Bengaluru,Tirupati,17:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
1476,Air India,25/01/2022,Bengaluru,Tirupati,06:40,13:35,"4 stop via Mysore,Kochi,New Delhi,Hyderabad","₹ 18,882"

Lenght :  1477

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1480,Air India,26/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
1481,Air India,26/01/2022,Bengaluru,Tirupati,11:50,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,842"
1482,Air India,26/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
1483,Air India,26/01/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
1484,Air India,26/01/2022,Bengaluru,Tirupati,12:50,13:35,"4 stop via Patna,Kolkata,New Delhi,Hyderabad","₹ 17,779"

Lenght :  1485

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1487,Air India,27/01/2022,Bengaluru,Tirupati,19:00,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,162"
1488,IndiGo,27/01/2022,Bengaluru,Tirupati,10:25,11:45,Non stop,"₹ 3,498"
1489,Air India,27/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
1490,Air India,27/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
1491,Air India,27/01/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"

Lenght :  1492

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-28/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1494,Air India,28/01/2022,Bengaluru,Tirupati,19:00,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,162"
1495,Air India,28/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
1496,Air India,28/01/2022,Bengaluru,Tirupati,11:50,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,842"
1497,Air India,28/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,519"
1498,Air India,28/01/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,519"

Lenght :  1499

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-29/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1501,Air India,29/01/2022,Bengaluru,Tirupati,19:00,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,162"
1502,IndiGo,29/01/2022,Bengaluru,Tirupati,10:25,11:45,Non stop,"₹ 3,708"
1503,Air India,29/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
1504,Air India,29/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
1505,Air India,29/01/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"

Lenght :  1506

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-30/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1509,Air India,30/01/2022,Bengaluru,Tirupati,19:00,13:35,"3 stop via Goa,New Delhi,Hyderabad","₹ 13,162"
1510,Air India,30/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
1511,Air India,30/01/2022,Bengaluru,Tirupati,11:50,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,842"
1512,Air India,30/01/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
1513,Air India,30/01/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"

Lenght :  1514

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-31/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: timeout: Timed out receiving message from renderer: 299.638
  (Session info: chrome=97.0.4692.71)

31/01/2022  scraping complete

-----Skiped-----

origin = BLR
destin = BLR

origin = BLR
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1529,Air India,25/01/2022,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"
1530,Air India,25/01/2022,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 5,179"
1531,Vistara,25/01/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 5,180"
1532,Vistara,25/01/2022,Bengaluru,Mumbai,19:55,21:40,Non stop,"₹ 5,757"
1533,Air India,25/01/2022,Bengaluru,Mumbai,19:00,00:10,1 stop via Goa,"₹ 7,384"

Lenght :  1534

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-26/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 0
Time Count in Scraping  = 0
City Count in Scraping  = 0
spanFlightCost Count in Scraping  = 0
pFlightStops Count in Scraping  = 0
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...
1529,Air India,25/01/2022,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"
1530,Air India,25/01/2022,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 5,179"
1531,Vistara,25/01/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 5,180"
1532,Vistara,25/01/2022,Bengaluru,Mumbai,19:55,21:40,Non stop,"₹ 5,757"
1533,Air India,25/01/2022,Bengaluru,Mumbai,19:00,00:10,1 stop via Goa,"₹ 7,384"

Lenght :  1534

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-27/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

27/01/2022  scraping complete

origin = BLR
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

--------------
origin = BOM
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = BOM
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = BOM
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = BOM
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = BOM
destin = BOM

origin = BOM
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

--------------
origin = DEL
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = DEL
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = DEL
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = DEL
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = DEL
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-25/01/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
Exception in (<ipython-input-3-c12bd3f3d540>,Line 8 "<built-in method strip of str object at 0x0000019DCFE31A50>"):Message: unknown error: net::ERR_INTERNET_DISCONNECTED
  (Session info: chrome=97.0.4692.71)

25/01/2022  scraping complete

origin = DEL
destin = DEL

In [8]:
#checking scraped Flight Price data
df=pd.read_csv("Flight.csv")
df

,Unnamed: 0,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Spicejet,25/01/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,1,Go First,25/01/2022,Goa,Ahmedabad,13:15,20:25,1 stop via Mumbai,"₹ 5,315"
3,2,Go First,25/01/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,3,Go First,25/01/2022,Goa,Ahmedabad,23:55,06:40,1 stop via Mumbai,"₹ 5,315"
...,...,...,...,...,...,...,...,...,...
1529,15,Air India,25/01/2022,Bengaluru,Mumbai,06:45,08:35,Non stop,"₹ 5,179"
1530,16,Air India,25/01/2022,Bengaluru,Mumbai,19:10,21:05,Non stop,"₹ 5,179"
1531,17,Vistara,25/01/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 5,180"
1532,18,Vistara,25/01/2022,Bengaluru,Mumbai,19:55,21:40,Non stop,"₹ 5,757"
1533,19,Air India,25/01/2022,Bengaluru,Mumbai,19:00,00:10,1 stop via Goa,"₹ 7,384"

In [9]:
#saving Flight Price data as csv file
df.to_csv("flight_price.csv")